:root {
  --lighten-primary: hsla(352, 84%, 85%, 1);
  --primary-color: hsla(352, 90%, 52%, 1);
  --dark-primary: hsla(353, 90%, 39%, 1);
  --darken-primary: hsla(353, 90%, 32%, 1);
}

main {
  padding: 24px;
}

html,
body, textarea, form {
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* ---Header Component --- */

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  background-color: var(--dark-primary);
  color: white;
}

.header::after {
  content: '';
  border-bottom: 2px dashed hsla(0, 0%, 0%, 1);
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 0px;
}

.header__title, .header__subtitle {
  margin: 0;
}

.header__title {
  padding: 16px;
}

.header__subtitle {
  padding-bottom: 8px;
}

/* --- Section Component --- */

.section {
  overflow: hidden;
  transition: transform 0.5s ease-out,
    opacity 0.5s ease-out;
  visibility: visible;
}

.section:not(:first-child) {
  margin-top: 32px;
}

.section.section--disabled {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-40px);
}

/* --- Menu Component --- */

.menu__placeholder {
  height: 72px;
  width: 100%;
}

.menu__navigation {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--dark-primary);
  z-index: 1000;
}

.menu__navigation::before {
  position: absolute;
  content: '';
  top: -8px;
  left: 0;
  width: 100%;
  height: 6px;
  border-top: 2px dashed hsla(0, 0%, 0%, 1);
  background-color: white;
}

.menu__item {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  color: white;
}

.menu__item.menu__item--active {
  background-color: var(--primary-color);
}

.menu__icon, .menu__label {
  line-height: 24px;
}

.menu__label {
  font-size: 16px;
}

/* --- Title Component --- */

.title {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 8px;
  margin-bottom: 24px;
  font-weight: 600;
}

.title::before {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 32px;
  height: 4px;
  background-color: var(--dark-primary);
}

/* --- Input Group Component --- */


.input-group {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

.input-group.input-group--inline {
  gap: 16px;
  flex-direction: row;
}

.input-group:not(:first-child) {
  margin-top: 16px;
}

.input-group>.input-group {
  margin: 0;
}

.input-group__subgroup {
  display: flex;
  align-items: flex-start;
}

.input-group__subgroup.input-group__subgroup--center {
  align-items: center;
  justify-content: center;
}

.input-group__separator {
  padding: 0 8px;
}

.input-group__label:not(input[type='radio'] + .input-group__label) {
  font-weight: 600;
  padding-bottom: 4px;
}

/* --- Input Radio Component --- */

.input-radio {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

/* --- Input / Input Button Component --- */

.input, .input-button {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  padding: 8px;
  width: 100%;
  min-height: 32px;
  min-width: 60px;
  display: flex;
  border-radius: 3px;
  border: solid 2px hsla(0, 0%, 0%, 0.2);
  /* box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 1); */
  background-color: #F8F5F6;
}

.input-button {
  background-color: #fafafa;
  justify-content: center;
}

.input:not(:placeholder-shown),
.input:focus,
.input-button:active {
  outline: none;
  border: 2px solid hsla(0, 0%, 0%, 1);
  box-shadow: inset 2px 0 0 hsla(0, 0%, 0%, 1);
}

.input-button:disabled {
  background-color: white;
  color: hsla(0, 0%, 0%, 0.3);
}


.input-button.input-button--primary {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

.input-button.input-button--primary:disabled {
  background-color: hsla(0, 0%, 0%, 0.3);
  border-color: transparent;
}

.input-button.input-button--primary:focus,
.input-button.input-button--primary:hover {
  box-shadow: inset 2px 0 0 var(--darken-primary);
  border-color: var(--darken-primary);
  transition: box-shadow 0.3s ease-out, border-color 0.3s ease-out;
}

.input-button.input-button--primary:active {
  box-shadow: none;
  background-color: var(--dark-primary);
  border-color: var(--dark-primary);
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}